.box-game1::before {
    background-image: url('../../public/pics/biology/clinical\ bio\ crossword.jpeg');
}

.box-game2::before {
    background-image: url('../../public/pics/biology/timer\ game.jpg');
}

.box-game3::before {
    background-image: url('../../public/pics/biology/picturequiz.jpg');
}
/* 
.box-game4::before {
    background-image: url('game4-background.jpg');
}

.box-game5::before {
    background-image: url('game5-background.jpg');
} */
